<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64212598771-maqt30aatvcl7bl0mm3ijhl2gr7sg9aq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64212598771-maqt30aatvcl7bl0mm3ijhl2gr7sg9aq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>64212598771-n3a0cte0ad5ubcp5hiogdio8jfei903f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB2RKflhpft8bN1bnU-DcEl9ZZk40slDrI</string>
	<key>GCM_SENDER_ID</key>
	<string>64212598771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.rkb.ekodigital</string>
	<key>PROJECT_ID</key>
	<string>eko-digital</string>
	<key>STORAGE_BUCKET</key>
	<string>eko-digital.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64212598771:ios:11b4ab6dbc6e0156665c86</string>
	<key>DATABASE_URL</key>
	<string>https://eko-digital.firebaseio.com</string>
</dict>
</plist>